# Eclipse
.metadata
.classpath
.project
.settings/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib

# JBoss/WildFly
.deployments/

# Build
build/
target/

# Maven
.mvn/
mvnw
mvnw.cmd

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
*.iml
.idea/